play-plugin/project-code/logs
play-plugin/project-code/project/project
play-plugin/project-code/project/target
play-plugin/project-code/target
play-plugin/project-code/tmp
play-plugin/project-code/dist
play-plugin/project-code/.idea
play-plugin/project-code/*.iml
play-plugin/project-code/out
play-plugin/project-code/.idea_modules
play-plugin/project-code/.classpath
play-plugin/project-code/.project
play-plugin/project-code/RUNNING_PID
play-plugin/project-code/.settings
play-plugin/project-code/.cache
play-plugin/project-code/.target
play-plugin/project-code/bin

play-plugin/samples/shared-session-sample/project/project
play-plugin/samples/shared-session-sample/project/target
play-plugin/samples/shared-session-sample/target
play-plugin/samples/shared-session-sample/logs
play-plugin/samples/shared-session-sample/tmp
.history
play-plugin/samples/shared-session-sample/dist
play-plugin/samples/shared-session-sample/.idea
play-plugin/samples/shared-session-sample/*.iml
play-plugin/samples/shared-session-sample/out
play-plugin/samples/shared-session-sample/.idea_modules
play-plugin/samples/shared-session-sample/.classpath
play-plugin/samples/shared-session-sample/.project
play-plugin/samples/shared-session-sample/RUNNING_PID
play-plugin/samples/shared-session-sample/.settings
play-plugin/samples/shared-session-sample/.cache
play-plugin/samples/shared-session-sample/.target
play-plugin/samples/shared-session-sample/bin



rails-plugin/memcached_json_store/.bundle/
rails-plugin/memcached_json_store/log/*.log
rails-plugin/memcached_json_store/pkg/
rails-plugin/memcached_json_store/test/dummy/db/*.sqlite3
rails-plugin/memcached_json_store/test/dummy/db/*.sqlite3-journal
rails-plugin/memcached_json_store/test/dummy/log/*.log
rails-plugin/memcached_json_store/test/dummy/tmp/
rails-plugin/memcached_json_store/test/dummy/.sass-cache


